@import "tailwindcss";



/* Light Theme */
:root {
  --background: #fafafa;
 --surface: #f3f4f6;
  --foreground: #111827;
  --secondary: #6b7280;
  --border: #e5e7eb;
  

  /* Navbar */
  --navbar: #6b7280;

  --gradient: linear-gradient(
    90deg,
    #38bdf8,
    #8b5cf6,
    #ec4899
  );
}

@theme inline {

  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-navbar: var(--navbar);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark Theme */
.dark {
  --background: #0a0a0a;
  --surface: #151515;
  --foreground: #ffffff;
  --secondary: #a1a1aa;
  --border: #2a2a2a;
   

  /* Navbar */
  --navbar: #151515;
}
html {
  scroll-behavior: smooth;
}
html,
body{
  overflow-x: clip;
} 

body {
  
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition:
    background-color .3s ease,
    color .3s ease;
}
.gradient-text {
  background: linear-gradient(
    90deg,
    #38bdf8,
    #8b5cf6,
    #ec4899
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}


